body{
  background-color: white;
  margin: 0;
  
}
div{
  box-sizing: border-box;
}
header {
  background: white;
  margin-bottom: 20px;
  border-style: solid;
  color: black;
  color: green;
  display: block;
  
  
}
header h1{
  margin: 0;
  background-color: white;
  margin-bottom: -40px;
  margin-inline-start: 6%;
    
}
header img {
  /* margin-bottom: -12px;
  margin-top: 6px; */
  height: 3%;
  width: 3%;
  justify-content: right;
  padding-left: 88%;
  /* padding-top: 10%; */
}
.post{
  background: white;
  margin-bottom: 30px;
  border-style: solid;
  height: 60%;
  border-radius: 5px 5px 5px 5px;
  
}
.post-header{
  margin-top: -10px;
  margin-bottom: -10px;
}
.post .img1{
  
  width: 100%;
}
.post h2{
  padding: 16px;
  height: 30px;
  margin: 0;
  margin-top: 9px;
}
.post .p2{
  padding: 10px;
  margin: 0;
}
.post .p1{
  padding: 10px;
  margin-top: -7%;
  margin-left: 8px;
  color: rgb(120, 118, 118);
}
.post span{
  margin-right: 12px;
  
}
.post .post-header div:first-child{
  display: inline-block;
  width: 80%;
  
}
.post .post-header div:last-child{
  display: inline-block;
  width: 20%;
  padding: 10px;
  text-align: right;
 
}
.bottom .p4{
  margin-left: 20px;
  color: rgb(120, 118, 118);
}
.bottom .p2{
  margin-left: 13px;
  margin-top: -10px;
  padding-bottom: 30px;
  
}
.bottom .p3{
  margin-left: 500px;
  margin-top: -24px;
  color: rgb(120, 118, 118);
}
.bottom .img2{
 height: 30px;
 width: 120px;
 padding-left: 12px;
 margin-bottom: 4px;
}
.container{
  width: 600px;
  margin: auto;
  
}