#content {
    float: right;
    margin-right: 25%;
    margin-top: 20%;
}
.img7{
    padding: 3%; 
}
h1{
    color: green;
}
h2{
    padding: 10px;
    margin-left: 40px;
    margin-top: -12px;
    
}

 
